<% content_for :title do %>
	Edit User Info
<% end %>
<h1>Edit User <%= @user.id %> Info</h1>

<% if flash[:error_messages] %>
	<% flash[:error_messages].each do | error | %>
		<p><%= error %><p>
	<% end %>
<% else %>
	<p><%= flash[:success_message] %></p>
<% end %>

<%= simple_form_for(@user) do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email_address %>
	<%= f.input :password %>
	<%= f.button :submit, value: "Edit User" %>
<% end %>